const m = db.getSiblingDB("mobility");

function search(cityId, fromStopId, toStopId, start, end) {
  return m.journey_search
    .aggregate([
      {
        $match: { cityId, fromStopId, toStopId },
      },

      // TODO: work with the departures array here.
    ])
    .toArray();
}

const start = ISODate("2026-10-02T06:00:00Z");
const end = ISODate("2026-10-02T07:00:00Z");

printjson(search("CPH", "STOP-NORREPORT", "STOP-AIRPORT", start, end));
